.caja{
    width: 400px;
    height: 300px;;
    background-color: $color-primario;
    border: solid 3px black;
    align-content: stretch;
}

.caja2{
    width: 400px;
    height: 300px;;
    background-color: $color-primario;
    border: solid 3px black;
}

.caja3{
    width: 400px;
    height: 300px;;
    background-color: $color-primario;
    border: solid 3px black;
}

.titulo1{
    font-size: 3em;
    color: rgb(0, 0, 0);
    width: 100%;
    height: min-content;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.568);
    border-radius: 20px;
}


.subtitulo1{
    font-size: 2rem;
    color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
    background-color: rgba(141, 4, 183, 0.649);
}

.subtitulo2{
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(183, 114, 4, 0.649);
}

.subtitulo3{
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(69, 180, 0, 0.508);
    border-radius: 20px;
}

@media(min-width: 375px){
    .titulo1{
        font-size: 2.5em;
    }

    .caja{
        width: 300px;
        height: 300px;
    }

    .caja2{
        width: 300px;
        height: 300px;
    }

    .caja3{
        width: 300px;
        height: 300px;
    }

    .subtitulo1{
        font-size: 1.5em;
    }

    .subtitulo2{
        font-size: 1.5em;
    }

    .subtitulo3{
        font-size: 1.5em;
    }
}

/* sports */

@media(min-width: 375px){
    .titulo-sports{
        font-size: 1.5em;
    }
}

footer{
    background-color: cadetblue;
    width: 100%;
    border: solid 3px black;
}

.comtnenedorparam{
    justify-content: space-between;
    flex-direction: row;
    display: flex;
}