/* sports */

@media(min-width: 375px){
    .titulo-sports{
        font-size: 1.5em;
    }
}

footer{
    background-color: cadetblue;
    width: 100%;
    border: solid 3px black;
    /* background-image: url(../img/footer.jpg); */
}

.comtnenedorparam{
    justify-content: space-between;
    flex-direction: row;
    display: flex;
}